<div class="posts">
  <div aria-flowto="<left></left>">
    <h2>Users list</h2>
    <button class="addBtn" mat-fab [routerLink]="['/users/new']"> <mat-icon>add</mat-icon></button>
    <br>
    <br><br><br>
  </div>
  <mat-card *ngFor="let user of users">
    <mat-list>
      <mat-list-item>
        <p mat-line><span>user id :{{user.id}}</span> </p>
        <p mat-line>
          <span>username:{{user.name}}</span>
        </p>
        <span><button mat-button (click)='deletePost(user.id)'><mat-icon>delete</mat-icon></button></span>
        <span><button mat-button [routerLink]="['/posts/edit', user.id]"><mat-icon>edit</mat-icon></button></span>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
